.categories {
  display: flex;
  width: calc(100% + 48px);
  margin-left: -24px;
  padding-left: 24px;
  gap: 8px;
  align-items: flex-start;
  box-sizing: border-box;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}

.item,
.active {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border: none;
  border-radius: 32px;
  background-color: #f2f4f5;
  cursor: pointer;
}

.active {
  background-color: #caf0f8;
  color: #0077b6;
}

::-webkit-scrollbar {
  display: none;
}
