.header {
    display: flex;
    width: 100%;
    padding: 12px 24px;
    border-color: white;
    border-bottom: #f2f4f5 1px solid;
    flex-direction: column;
    gap: 12px;
}

.title {
  font-size: 28px;
  text-transform: uppercase;
}

.date {
  font-size: 16px;
}
